.background {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

body {
  padding: 1em;
  box-sizing: border-box;
  margin: 0;
}

#root {
  
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 600px) {
  .grid-wrapper {
    display: block;
  }
  .card {
    width: 100%;
    margin-top: 1em;
  }
}

.card {
  border-radius: 10px;
  padding-top: 1em;
  background: #61dafbaa;
}