.background {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

body {
  padding: 1em;
  box-sizing: border-box;
  margin: 0;
}

canvas {
  background: transparent;
}

#root {
  
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.flex-wrapper {
  display: flex;

}

.card-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.card {
  border-radius: 10px;
  padding-top: 1em;
  margin: 1em;
  background: #61dafbaa;
}

@media screen and (max-width: 750px) {
  .flex-wrapper {
    display: block;
  }
  .card {
    width: 100%;
    margin: 0;
    margin-top: 1em;
  }
  .card-column {
    width: 100%;
  }
}